%h1 CREATE A POOL

= form_tag "/pools" do
	%fieldset
		= text_field :pool, :name, placeholder: "Pool Name"
	%fieldset
		= select_tag :pool_type_id, options_for_select(PoolType.all.map { |pt| [pt.name, pt.id] }), name: "pool[pool_type_id]"
	%fieldset.actions
		= submit_tag "Create Pool"
