%h1= @pool
%h2= @pool.pool_type

- if @pool.pool_type == PoolType.where(name: "survival").first
	= render "show_survival"

- if @pool.pool_type == PoolType.where(name: "supercontest").first
	= render "show_supercontest"

:sass
	.eliminated
		background-color: grey
